
@{
    ViewBag.Title = "DiskManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DiskManager</h2>

<div class="row">




</div>
<div class="row">
    <button class="h-50 w-25 btn btn-secondary m-1">Disk yedekle</button>
    <button class="h-50 w-25 btn btn-secondary m-1">Yedekler</button>
    <button class="h-50 w-25 btn btn-secondary m-1">Rapor</button>



</div>



